/* html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
} */


/* :root {
--main-color-text: #212121;
--header-logo-color: #000000;
--color-text-paragraf: #757575;
--primary-blue-color: #2196F3;
--primary-white-color: #FFFFFF;
--hero-footer-black-color: #2F303A;
--hero-button-blue-color: #188CE8;
--background-gray-color: #F5F4FA;
--alternativ-gray-color-rgba: rgba(255, 255, 255, 0.6);
--cards-border-gray-color: #EEEEEE;
--header-border-gray-color: #ECECEC;
--primary-icon-gray-color: #AFB1B8;
--footer-icon-bg-black-color: rgba(255, 255, 255, 0.1);
--transition-color-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
--image-caption-bg-gray-color: rgba(47, 48, 58, 0.8);
--modal-bg-gray-color: rgba(0, 0, 0, 0.2);
--border-modal-close-button: 1px solid rgba(0, 0, 0, 0.1);
--overlay-bg-blue-color: rgba(33, 150, 243, 0.9);
} */


/* Page index style */


/* body {
    background-color: var(--primary-white-color);
} */


/* .container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 1px solid blue;
} */



/* .current::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: "";

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--primary-blue-color);
} */
/* Header style */


/* .header {
    border-bottom: 1px solid var(--header-border-gray-color);
} */

/* .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

/* .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--primary-blue-color);
} */

/* .logo__end-dark {
    color: var(--header-logo-color);
} */

/* .logo__end-light {
    color: var(--primary-white-color);
} */


/* .navigation__list {
    display: flex;
    margin-left: 93px;
} */


/* .navigation__item:not(:last-child) {
    margin-right: 50px;
} */

/* .navigation__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:  var(--main-color-text);

    text-decoration: none;
    transition: color var(--transition-color-function);
} */

/* .navigation__link:hover, .navigation__link:focus {
    color: var(--primary-blue-color);
} */

/* .navigation__link.current {
    color: var(--primary-blue-color);
    position: relative;
} */


/* .contacts__link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-text-paragraf);
    align-items: center;

    transition: color var(--transition-color-function);
} */

/* .contacts__icon {
    fill: currentColor;
    margin-right: 10px;
} */

/* .mail-link:hover, .mail-link:focus, 
.tel-link:hover, .tel-link:focus,
.mail-icon:hover, .mail-icon:focus,
.tel-icon:hover, .tel-icon:focus {
    color: var(--primary-blue-color);
    fill: var(--primary-blue-color);
} */


/* .contacts {
    display: flex;
    margin-left: auto;
} */

/* .contacts__item {
    margin-right: 50px;
} */





/* Main style */


/* Section Hero */


/* .hero {
    height: 600px;
    max-width: 1600px;
    padding: 200px 0px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/fonhero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--hero-footer-black-color);
} */


/* .hero__title {
    margin: 0 auto;
    width: 696px;
    

    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    
    color: var(--primary-white-color);
    
} */

/* .button {
    border: 1px solid transparent;
} */

/* .hero__button{
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    border: 1px solid transparent;
    margin-top: 30px;
    min-width: 216px;

    
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;


    background-color: var(--primary-blue-color);
    color: var(--primary-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--transition-color-function);

} */

/* .main-hero-button:hover, .main-hero-button:focus {
    background-color: var(--hero-button-blue-color);
} */

/* Section Features */

/* Hidden Heder */

/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} */

/* .features {
 padding-top: 94px;
} */

/* .features__list {
    display: flex;
    list-style-type: none;
    gap: 30px;
} */

/* .features__item {
    width: 270px;
} */


/* .features__item::before {
    content: "";
    display: block;
    height: 120px;

    
    border-radius: 4px;

    background-color: var(--background-gray-color);
    background-repeat: no-repeat;
    background-position: center;
} */

/* .icon-antenna::before {
    background-image: url(../images/antenna1.svg);
}

.icon-clock::before {
    background-image: url(../images/clock1.svg);
}

.icon-diagram::before {
    background-image: url(../images/diagram1.svg);
}

.icon-astronaut::before {
    background-image: url(../images/astronaut1.svg);
} */

/* .features__subtitle {
    margin-top: 30px;
    margin-bottom: 0;


    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color-text);
} */

/* .features__text {
    margin-top: 10px;
    margin-bottom: 0;


    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--color-text-paragraf);
} */


/* Section Activity */
/* .activity {
    padding-top: 94px;
    padding-bottom: 94px;
} */

/* .activity__title {
    margin: 0 0 50px 0;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
} */

/* .activity__list {
    display: flex;
    margin: 0;
    padding: 0;

} */


/* .activity__item {
    position: relative;
} */

/* .activity__picter {
    display: block;
    max-width: 100%;
    height: auto;
} */

/* .overlay-info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 27px 0;
    background: var(--image-caption-bg-gray-color);
} */

/* .overlay-info__text {
    margin: 0;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
} */

/* Section Team */
/* .team {
    padding: 94px 0;
    background-color: var(--background-gray-color);
} */


/* .team__title {
    margin: 0 0 50px 0;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
} */

/* .team__list {
    display: flex;
    gap: 30px;
} */

/* .team__item {
    text-align: center;
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
} */


/* .team__content {
    padding: 30px 0;
} */

/* .team__subtitle {
    margin-top: 0;
    margin-bottom: 0;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
} */

/* .team__text {
    margin-top: 10px;
    margin-bottom: 0;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-text-paragraf);
} */


/* .socials {
    display: flex;
    margin-top: 16px;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 10px;

} */

/* .socials__item {
    display: flex;
    width: 44px;
    height: 44px;

    align-items: center;
    justify-content: center;
} */

/* .socials__link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    align-items: center;
    justify-content: center;
    color: var(--primary-icon-gray-color);
    transition: color var(--transition-color-function), background-color var(--transition-color-function);
    
} */

/* .socials__link:hover, 
.socials__link:focus {
    background-color: var(--primary-blue-color);
    color: var(--primary-white-color);
} */

/* .social__icon {
    width: 20px;
    height: 20px;
    fill: var(--primary-icon-gray-color);
    fill: currentColor;
} */



/* Section Costomers */
/* .costomers {
    padding: 94px 0;
} */

/* .costomers__title {
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
} */

/* .costomers__list {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    gap: 30px;
} */

/* .costomers__item {
    width: 170px;
    height: 92px;
} */

/* .costomers__link {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid var(--primary-icon-gray-color);
    border-radius: 4px;

    align-items: center;
    justify-content: center;

    color: var(--primary-icon-gray-color);
    transition: color var(--transition-color-function), border-color var(--transition-color-function);
} */

/* .costomers__icon {
    fill: currentColor;
} */

/* .costomer-link:hover,
.costomer-link:focus {
    color: var(--primary-blue-color);
    border-color: var(--primary-blue-color);
} */







/* Footer stile */



/* .footer {
    background-color: var(--hero-footer-black-color);
    padding: 60px 0;
} */

/* .footer__container {
    display: flex;
    align-items: baseline;
} */


/* Section Address Style */


/* .footer__address {
    margin-top: 20px;
    font-style: normal;
} */


/* .footer__link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
} */


/* .footer__link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--alternativ-gray-color-rgba);
} */



/* Section Social Style */

/* .footer__social {
    margin-left: 70px;
} */


/* .social__appeal {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
} */

/* .social-list {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.social-item {
    display: flex;
    width: 44px;
    height: 44px;
    
}

.social-link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    align-items: center;
    justify-content: center;

    background-color: var(--footer-icon-bg-black-color);
    color: var(--primary-white-color);
    transition: background-color var(--transition-color-function);
}

.social-icon {
    fill: currentColor;
}

.social-link:hover, 
.social-link:focus {
    background-color: var(--primary-blue-color);
} */

/* Section subscription style */

/* .subscribe {
    margin-left: 93px;
} */

/* .subscribe__appeal {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
} */


/* .subscribe__group {
    display: flex;
} */

/* .subscribe__input {
    margin-right: 12px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    width: 358px;

    background-color: inherit;
    color: var(--alternativ-gray-color-rgba);
    outline: none;
} */

/* .subscribe__button {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 28px;
    gap: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;

    background-color: var(--primary-blue-color);
    color: var(--primary-white-color);
} */

/* .subscribe__button::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../images/send.svg);
    color: var(--primary-white-color);
} */


/* Page portfolio style */


/* Portfolio Header style */

/* .portfolio-header {
    border-bottom: 1px solid var(--header-border-gray-color);
}


.portfolio-header-nav {
    display: flex;
    align-items: center;
    
}


.portfolio-header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--header-logo-color);
}

.portfolio-header-logo-beginning {
    color: var(--primary-blue-color);
}

.portfolio-header-logo {
    text-decoration: none;
}

.portfolio-nav-list {
    display: flex;
    margin-left: 93px;
}


.portfolio-nav-item:not(:last-child) {
    margin-right: 50px;
}
.portfolio-nav-link {
    display: block;
    padding: 32px 0;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color-text);
    transition: color var(--transition-color-function);
}

.portfolio-nav-link:hover, .portfolio-nav-link:focus {
    color: var(--primary-blue-color);
}

.portfolio-nav-link.current {
    color: var(--primary-blue-color);
    position: relative;
}

.portfolio-nav-list, .portfolio-header-contacts {
    list-style-type: none;
}

.portfolio-header-contacts {
    display: flex;
    margin-left: auto;
}

.portfolio-nav-link, .portfolio-mail-link, .portfolio-tel-link {
    text-decoration: none;
    
}

.portfolio-mail-link, .portfolio-tel-link {
    display: flex;
    padding: 32px 0;
    align-items: center;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-text-paragraf);
    transition: color var(--transition-color-function);
}

.portfolio-mail-icon, .portfolio-tel-icon {
    fill: currentColor;
    margin-right: 10px;
}


.portfolio-mail-cont {
    margin-right: 50px;
}

.portfolio-mail-link:hover, .portfolio-mail-link:focus,
.portfolio-tel-link:hover, .portfolio-tel-link:focus {
    color: var(--primary-blue-color);
} */

/* Portfolio Main style */


/* Portfolio filter button section */

/* Hidden Heder */
/* .portfolio-filter-hidden-header {
    display: none;
} */

/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} */

/* .portfolio {
    padding: 94px 0;
} */


/* .portfolio__list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    list-style-type: none;
} */

/* .filter-item:not(:last-child) {
    margin-right: 8px;
} */


/* .portfolio__button {
    padding: 6px 22px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
    background-color: var(--background-gray-color);
    transition: color var(--transition-color-function), background-color var(--transition-color-function), box-shadow var(--transition-color-function);

    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.filter-button:hover, .filter-button:focus {
    background-color: var(--primary-blue-color);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
} */


/* .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
} */

/* .cards__link {
    display: block;
    text-decoration: none;
    transition: box-shadow var(--transition-color-function);
}

.portfolio-item-link:hover , 
.portfolio-item-link:focus  {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
} */


/* .cards__thumb {
    position: relative;
    overflow: hidden;
} */


/* .cards__picture {
    display: block;
    max-width: 100%;
    height: auto;
} */

/* .overlay {
    position: absolute;
    top: 0%;
    left: 0%;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 63px 24px;

    background-color: var(--overlay-bg-blue-color);
    overflow: auto;
    transform: translateY(100%);
    transition: transform var(--transition-color-function);
}


.overlay__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    
} */


/* .cards__link:hover .overlay,
.cards__link:focus .overlay {
    transform: translateY(0%);
} */



/* .cards__content {
    padding: 20px 24px;
    border: 1px solid var(--cards-border-gray-color);
    border-top: none;
} */


/* .cards__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color-text);
}

.cards__text {
    margin-top: 4px;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--color-text-paragraf);
} */




/* Portfolio footer style */

/* .portfolio-footer {
    background-color: var(--hero-footer-black-color);
    padding: 60px 0;
}

.portfolio-footer-container {
    display: flex;
    align-items: baseline;
} */


/* Section Portfolio Footer Address style */

/* .portfolio-footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    text-decoration: none;
}

.portfolio-footer-logo-beginning {
    color: var(--primary-blue-color);
}

.portfolio-footer-address {
    margin-top: 20px;
    font-style: normal;
}

.portfolio-address-list {
    list-style-type: none;
}


.portfolio-address-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
}

.portfolio-footer-mail-cont, .portfolio-footer-tel-cont {
    margin-top: 9px;
}

.portfolio-footer-mail-link, .portfolio-footer-tel-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--alternativ-gray-color-rgba);
}


.portfolio-address-link, .portfolio-footer-mail-link, .portfolio-footer-tel-link {
    text-decoration: none;
} */


/* Section Portfolio Footer Social style  */

/* .portfolio-footer-social {
    margin-left: 70px;
}

.portfolio-social-header {
        margin: 0 0 20px 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primary-white-color);
}

.portfolio-social-list {
        display: flex;
        list-style-type: none;
        gap: 10px;
}

.portfolio-social-item {
        display: flex;
        width: 44px;
        height: 44px;
}

.portfolio-social-link {
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    
        align-items: center;
        justify-content: center;
    
        background-color: var(--footer-icon-bg-black-color);
        color: var(--primary-white-color);
        transition: background-color var(--transition-color-function);
}

.portfolio-social-icon {
    fill: currentColor;
}

.portfolio-social-link:hover,
.portfolio-social-link:focus {
    background-color: var(--primary-blue-color);
} */


/* Section Portfolio Footer Subscription style */

/* .portfolio-subscription {
    margin-left: 93px;
} */

/* .portfolio-subscription__title {
        display: block;
        margin-top: 0;
        margin-bottom: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primary-white-color);
} */


/* .portfolio-subscription__group {
    display: flex;
}

.portfolio-subscription__input {
    margin-right: 12px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    width: 358px;

    background-color: inherit;
    color: var(--alternativ-gray-color-rgba);
}

.portfolio-subscription__button {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
    
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        padding: 10px 28px;
        gap: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        cursor: pointer;
    
        background-color: var(--primary-blue-color);
        color: var(--primary-white-color);
}

.portfolio-subscription__button::after {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        background-image: url(../images/send.svg);
        color: var(--primary-white-color);
} */



/* Modal Style */

/* .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--modal-bg-gray-color);
    z-index: 100;
    transition: visibility var(--transition-color-function), opacity var(--transition-color-function);

} */

/* .is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
} */

/* .modal {
    padding: 40px;
    position: absolute;
    width: 528px;
    height: 581px;
    background-color: var(--primary-white-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */

/* .modal__button-close {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    width: 30px;
    height: 30px;
    padding: 0;
    border: var(--border-modal-close-button);
    border-radius: 50%;
    background-color: unset;
    border-color: transparent;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: fill var(--transition-color-function);
} */

/* .modal__button-close:focus,
.modal__button-close:hover {
    fill: var(--primary-blue-color);
} */



/* Form style */
/* .contacts__title {
    display: block;
    margin-bottom: 12px;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23/20);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
} */

/* .form__label {
    display: block;
    margin-bottom: 4px;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;
    color: var(--color-text-paragraf);
} */

/* .form__field {
    position: relative;
    margin-bottom: 10px;
} */

/* .form__input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 11px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;

    transition: border-color var(--transition-color-function);
} */

/* .form__input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
} */

/* .form__input:focus {
    border-color: var(--primary-blue-color);
} */

/* .form__input:focus + .form__icon {
    fill: var(--primary-blue-color);
} */

/* .form__icon {
    position: absolute;
    left: 12px;
    top: 50%;

    width: 18px;
    height: 18px;

    fill: var(--main-color-text);
    transform: translateY(-50%);
    pointer-events: none;
    transition: var(--transition-color-function);
} */

/* .form__comments {
    display: block;
    padding: 12px 16px;
    margin-bottom: 20px;

    width: 100%;
    min-height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    resize: none;
    transition: border-color var(--transition-color-function);
} */

/* .form__comments:focus {
    border-color: var(--primary-blue-color);
} */

/* .checkbox {
    display: flex;
    margin-bottom: 30px;
    gap: 7px;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    align-items: center;
    justify-content: center;
    color: var(--color-text-paragraf);
} */

/* .checkbox__input:checked +.checkbox__icon 
.icon__accept {
    opacity: 1;
} */

/* .checkbox__input:checked +.checkbox__icon
.icon__not__accept {
    opacity: 0;
} */


/* .checkbox__icon {
    width: 16px;
    height: 15px;
} */

/* .icon__not__accept {
    transition: opacity var(--transition-color-function);
    
} */

/* .icon__accept {
    transition: opacity var(--transition-color-function);
    opacity: 0;
} */

/* .checkbox__link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);

    letter-spacing: 0.03em;
    text-decoration-line: underline;

    color: var(--primary-blue-color);
} */

/* .form__button {
    display: block;
    
    padding: 10px 52px;
    min-width: 200px;
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    margin: 0 auto;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);

    cursor: pointer;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--primary-white-color);
} */







