.activity {
    @include section-indent();
}

.activity__title {
    @extend %section-title;
}

.activity__list {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.activity__item {
    position: relative;
}